/*==================== HIDE TOMBOL PUTAT INPUT NUMBER*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
/*==================== TOMBOL PUTAT */




/*==================== SETTING VIEW WEBSITES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100%;
    background: #f8f9fd;
}
/*==================== END SETTING VIEW  */




/*==================== SETUP SIDEBAR  */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    padding: 1.25em 0 0 0;
    background: #fff;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    transition: all 0.4s ease;
    z-index: 999;

    /* border: 1px solid #029400; */
}

.vertical_line {
    border-bottom: 1.5px solid #E0E0E0;
    height: 1.6em;
    width: 100%;
}

.sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 16px 0 16px;

    /* border: 1px solid tomato; */
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 12px 12px;
    border-radius: 4px;
    text-decoration: none;

    /* border: 1px solid purple; */
}

.lists .nav-link:hover {
    background-color: #bf202f;
    transition: 0.2s;
}

.nav-link .icon {
    margin-right: 12px;
    font-size: 1.35em;
    color: #24242a;
}

.nav-link .link {
    font-size: 0.85em;
    color: #24242a;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}
/*==================== END SETUP SIDEBAR  */




/*==================== STYLING CONTAINER CONTENT */
.content {
    position: absolute;
    left: 13.5em;
    top: 0;
    right: 0;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;

    /* border: 1px solid purple; */
}

.content_wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    /* border: 1px solid blue; */
}

.header_text {
    color: #202124;
    cursor: default;
    font-size: 1.7em;

    /* border: 1px solid tomato; */
}

.main_dashboard_container {
    display: flex;
    flex-direction: column;
    gap: 2em;

    /* border: 1px solid #bf202f; */
}
/*==================== END STYLING CONTAINER CONTENT  */




/*==================== STYLE SPACE OPERATOR  */
.space_operator {
    background: #fff;
    width: 80vw;
    height: max-content;
    padding: 2em 3em;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    /* margin: 1em 0; */
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid #029400; */
}

.operator_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    width: 100%;
    height: 100%;

    /* border: 1px solid tomato; */
}

.title_operator {
    /* border: 1px solid #d7a900; */
}

.title_operator h3 {
    font-weight: 600;
    color: #24242a;
}
/*==================== END SPACE OPERATOR  */




/*==================== STYLE TABLES DATA */
.table_container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: max-content;
    margin-bottom: 2em;
    padding: 2em 3em;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    
    /* border: 1px solid #bf202f; */
}

.table_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    width: 100%;
    height: 100%;
    
    /* border: 1px solid black; */
}

table {
    background: #fff;
    border-radius: 2px;
    border-collapse: collapse;
    border: 1px solid hsl(0, 0%, 88%);
    width: 100%;

    /* border: 1px solid purple; */
}

table tr {
    border-bottom: 1px solid #e0e0e0;
    /* background: #555; */

}

.data_table td {
    padding: 7px 0;

    /* border: 1px solid tomato; */
}

table tr:not(.tr_no_request):hover{
    background: #f6f6f6;
}

th,
td {
    font-size: 14px;

}

th:not(.id) {
    width: max-content;
    padding: 0.4em 1em; 
    text-align: left;
    color: #24242a;

    /* border: 1px solid purple; */
}

td.date {
    width: max-content;

}



/* KUNCI BUAT ATUR TINGGI TD NIH */
th.id {
    width: 0.5em;
    padding: 0.6em 1em;
    color: #24242a;

    /* border: 1px solid red; */
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 4px;
    /* margin-right: 10px; */
    cursor: pointer;
}


td:not(.id, .aksi .status) {
    padding-left: 1em;    
    padding-right: 0.5em;

}

td.id, td.status {
    text-align: center;
    padding: 0.6em 1em;
    

    /* border: 1px solid #029400; */
}

td.aksi {
    /* text-align: center; */
    width: max-content;
    padding: 0 0.6em;

    /* padding: 0.5em 0.2em; */
    /* display: flex; */

    /* border: 1px solid tomato; */
}

td.product, td.nama_sender {
    font-weight: 500;
    color: #000;
}

td.harga {
    text-align: start;
    /* border: 1px solid tomato; */
    /* padding-right: 3em; */
}


/*=== STYLE ICON DASH-AKSI===========*/
i.dash-aksi {
    font-size: 1.5em;
    font-weight: 500;
    /* border: 1px solid #E0E0E0; */
    /* background: #F2F2F2; */
}

i.dash-aksi:hover {
    color: #24242a;
}

.delete i {
    color: #bf202f;
}


.edit i {
    color: #029400;
}

.details_operator i {
    color: #d7a900;
}

.accept_operator i {
    color: #029400;
}

.reject_operator i {
    color: #bf202f;
}
/*=== END STYLE ICON DASH-AKSI ===========*/

.aksi_wrapper {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    
    gap: 1.2em;
    padding: 0.3em 0.2em 0 0.2em;
    /* border: 1px solid tomato; */
}


tr th.aksi {
    /* width: 10.5em; */
    width: auto;
    /* padding: 0.4em 2em; */
    /* border: 1px solid tomato; */
    color: #24242a;
}

.statusNew, .statusUpdate {
    font-size: 12px;
    padding: 0.8px 0.9em;
    border-radius: 20px;
    text-align: center;
    width: 6em;
}

.statusNew {
    border: 1px solid  #00BFFF;
    background: #F0F8FF;
}

.statusUpdate {
    border: 1px solid #fec112;
    background: #fffce6;
}


/*=== ADD DATA & SEARCHBAR ===========*/
.data_management_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 1px solid #029400; */
}

.add_data {
    border-radius: 3px;
    width: max-content;
    padding: 0.3em 1.8em;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
    border: 1px solid #029400;
    background: #029400;
}

.add_data:hover {
    background: #fff;
    color: #029400;
    transition: 0.3s;
    border: 1px solid #E0E0E0;
}

.search_container {
    position: relative;
}

.search_bar {
    width: 21.5em;
    height: 2.15em;
    border: 1px solid #E0E0E0;
    padding-left: 2.5em;
    font-size: 0.8em;
    color: #555;
    transition: 0.3s;
    border-radius: 3px;
    background-image: url('../image/search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
}

.search_bar::placeholder {
    font-size: 0.95em;
    background: transparent;
}

.search_bar:focus,
.search_bar:hover {
    outline: none;
    border-color: #bf202f;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 3px;
}
/*=== END ADD & SEARCHBAR ===========*/


/*=== STYLE PAGINATION ===========*/
.pagination_container {
    display: flex;

    /* border: 1px solid purple; */
}

.pagination_container a {
    color: #24242a;
    padding: 1px 8px;
    font-size: 0.9em;
    text-decoration: none;
    border: 1px solid #E0E0E0;
}

.pagination_container a:hover {
    background: #f4f4f4;
}

.pagination_container a.active {
    font-weight: bold;
    color: #bf202f;
}
/*=== END PAGINATION ===========*/

/*==================== END TABLES  */




/*==================== STYLE NOTIFICATION */
.notif {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    width: max-content;
    padding: 0.2em 1.5em;
    top: 1.1em;
    right: 1.8em;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9em;
    font-weight: 500;
    transition: opacity 0.2s ease;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.msg-text {
    margin-left: 0.7em;
}

.icon-msg {
    font-size: 2em;
    padding-top: 0.2em;
}
/*==================== END NOTIFICATION */


.input_bar {
    margin-top: 1px;
    transition: 0.3s;
}

.input_bar,
.btn {
    border: none;
    padding: 0.95em;
    font-size: 0.8em;
    width: 100%;
    border-radius: 4px;
    background: #fff;
}

input::placeholder {
    font-size: 0.95em;
}

.input_bar:focus,
.input_bar:hover {
    outline: none;
    border-color: #fec112;
    background-color: #fff;
    box-shadow: 0 0 0 1.5px #fec112;
    transition: 0.3s;
}

.btn {
    border: none;
    font-size: 0.9em;
    font-weight: 800;
    background: #fec112;
    cursor: pointer;
    padding: 0.5em 0;
    letter-spacing: 0.5px;
    color: #24242a;
    transition: 0.4s;
    width: 10em;
    border-radius: 4px;
}


.btn:hover {
    background: #d7a900;
    color: #24242a;
    transition: 0.2s;
}

/*========== END VERIFY ==========*/

/*===== MENGATUR SPAN TEXT  */
span.text_verify {
    color: #5e5e5f;
    display: flex;
    font-size: 0.6em;
    margin: 2% auto;
}

span.text_verify:before,
span.text_verify:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #24242a;
    margin: auto;
}

span.text_verify:before {
    margin-right: 0.7rem;
    background: #24242a;
}

span.text_verify:after {
    margin-left: 0.7rem;
    background-color: #24242a;
}

/*===== END SPAN */

.form_container {
    border: 1px solid #E0E0E0;
    border-radius: 4px;

    /* border: 1px solid purple; */
}

.info_sender {
    padding: 0 0.5em;
    /* border: 1px solid #d7a900; */
}

.description_request{
    font-size: 0.95em;
    /* border: 1px solid purple; */
}

.title_form_request {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 0.4em 0.5em;
    gap: 0.6em;
}

.title_form_request h2 {
    font-weight: 600;
}

.statusUpdateRequest, .statusNewRequest {
    font-size: 13px;
    border-radius: 20px;
    text-align: center;
}


.statusUpdateRequest {
    padding: 0.8px 1.1em;
    text-align: center;
    border: 1px solid #fec112;
    background: #fffce6;
}

.statusNewRequest {
    padding: 1px 1.5em;
    border: 1px solid  #00BFFF;
    background: #F0F8FF;
}

.form_wrapper {
    display: flex;
    padding: 1em 0.5em;
    gap: 0.8em;
    /* flex-direction: column; */

    /* border: 1px solid blue; */
}

.form_request_wrapper {
    display: flex;
    padding: 1em 0.5em;
    gap: 0.8em;
    flex-wrap: wrap;
    /* flex-direction: column; */

    /* border: 1px solid blue; */
}

.form_wrapper ul {
    list-style: none;
}




.ul_form_input {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    width: max-content;

    /* border: 2px solid #029400; */
}

.form_input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    /* border: 2px solid black; */
}

.selectData {
    display: flex;
    align-items: center;
    gap: 0.5em;

    /* border: 1px solid blue; */
}

i.bx-right-arrow-alt {
    font-size: 1.6em;
    color: #3a3c3e ;

}

.ul_form_input li:not(.aksi) {
    display: flex;
    flex-direction: column;
    gap: 0.15em;

    /* border: 1px solid #5fb976; */
}

.ul_form_input .aksi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.8em;
    width: 19.8em;

    /* border: 1px solid blue; */
}

.ul_form_input .aksi button {
    padding: 0 1.5em;
    width: max-content;
    height: 100%;
    background: #029400;
    border: 1px solid #029400;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
    font-weight: 500;
}

.ul_form_input .aksi button:hover {
    background: #fff;
    color: #029400;
    transition: 0.3s;
    border: 1px solid #E0E0E0;
}

.ul_form_input .reject {
    padding: 0.3em 1.7em;
    width: max-content;
    height: 100%;
    background: #bf202f;
    border: 1px solid #bf202f;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 500;
}

.ul_form_input .reject:hover {
    background: #fff;
    color: #bf202f;
    transition: 0.3s;
    border: 1px solid #E0E0E0;

}

.ul_form_input input {
    width: 22em;
    font-size: 0.9em;
    height: 2.5em;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    padding: 0 1em;
}

.ul_form_input textarea {
    font-size: 0.9em;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    padding: 0.5em 1em;
}


.ul_form_input label {
    font-size: 0.95em;
    color: #24242a;
}

.ul_form_input input::placeholder,
.ul_form_input textarea::placeholder {
    padding-left: 0.15em;
    font-size: 0.95em;
}

.ul_form_input input:focus,
.ul_form_input input:hover,
.ul_form_input textarea:focus,
.ul_form_input textarea:hover {
    outline: none;
    border-color: #bf202f;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 3px;
}

.notes_request {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3em;
    width: max-content;

    /* border: 1px solid blue; */
}

.text_notes {
    width: 60vw;
    display: flex;
    /* padding-left: 1em; */
    /* padding: 1em 0; */

    /* border: 1px solid purple; */
}

.no_request_wrapper {
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin-top: 1em; */
    color: #555;
    text-transform: italic;
}

p.no_request {
    /* background: #bf202f; */
    width: max-content;
    font-weight: 500;
    padding: 0.3em 2em;
    font-size: 1em;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); */
    border-radius: 4px;
}









/* Untuk browser WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #e9ecec;
    /* Warna latar belakang track scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    /* Warna thumb scrollbar */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2f2f32;
    /* Warna thumb scrollbar saat dihover */
}






/*==================== STYLE DASHBOARD VERIFY */
.verify_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5dc;

    /* border: 1px solid tomato; */
}

.verify_wrapper {
    width: max-content;
    height: max-content;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.5em 2.5em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #f1f1f1;

    /* border: 1px solid #bf202f; */
}

.verify_box:not(.text_verify) {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;

    /* border: 1px solid #5fb976; */
}

.title_verify {
    width: 100%;
    text-align: center;

    /* border: 1px solid black; */
}

.title_verify h3 {
    font-weight: 900;
    font-size: 1.2em;
}

.title_verify h5 {
    font-weight: 500;
}

.verify_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 15em;

    /* border: 1px solid red; */
}

.verify_box a {
    text-decoration: none;
    font-size: 0.8em;
}

.verify_box a:hover {
    text-decoration: underline;
}

.verify_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.verify_button_wrapper i.bx-log-out {
    font-size: 2em;
    padding: 0.25em 0.5em 0.11em 0.4em;
    background: #fec112;
    border-radius: 4px;
    color: #24242a;
    transition: 0.3s;
}

.verify_button_wrapper i.bx-log-out:hover {
    background: #d7a900;
    transition: 0.3s;
}
/*==================== END DASHBOARD VERIFY */

.horizontal_line {
    width: 100%;
    height: 1px;
    background: #DBDEE2;
    /* border: 1px solid tomato; */
    
}



.product_image {
    display: none;
}

.label_product_image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1em;
    color: #555;
    border: 2px dashed #E0E0E0;
    transition: 0.2s;
    cursor: pointer;
}

.label_product_image:hover{
    color: #bf202f;
    border: 2px dashed #bf202f;
    background: #FAFAFA;
    /* transition: 0.3s; */

}

.form_image_preview {
    width: 12.5em;
    text-align: center;
    /* flex-direction: column; */

    /* border: 1px solid black; */

}