/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100%;
    background: #f8f9fd;
}

/* NGATUR CONTENT */
.container {
    margin: 1.5em 0 5em 15em;
    /* border: 1px solid black; */
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0; 
    height: 100%;
    width: max-content;
    padding: 1.25em 0 0 0;
    background: #fff;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    transition: all 0.4s ease;
    /* border: 1px solid pink; */
}

.vertical_line {
    border-bottom: 1.5px solid #E0E0E0;
    height: 1.6em;
    width: 100%;
    /* margin: 0 0.5em; */
}

/* .logo_wrapper {
    border: 1px solid black;
} */

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    /* border: 1px solid tomato; */
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 12px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: #bf202f;
    transition: 0.2s;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 18px;
    color: #24242a;
}

.nav-link .link {
    font-size: 0.85em;
    color: #24242a;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}



/*========== STYLING MAIN CONTENT ==========*/ 
.header_text {
    color: #24242a;
}

.add_data {
    border: 1px solid tomato;
    background: tomato;
    border-radius: 4px;
    width: max-content;
    padding: 0.3em 1.5em;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0.5em;
}


.notif_operator {
    background: #fff;
    width: 80vw;
    height: 25vh;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin: 1em 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}


.table_container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background: #fff;
    width: 80vw;
    height: max-content;
    border: 1px solid #E0E0E0;
    /* border: 1px solid #bf202f; */
    border-radius: 4px;
    margin: 2em 0;
    padding: 2em 3em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
} 

th,td {
    font-size: 14px;
}

table {
    background: #fff;
    border-radius: 2px;
    border-collapse: collapse;
    border: 1px solid #E0E0E0;
    width: 100%;
}

/*===== ATUR TABLE =====*/
tr th:not(.id, .aksi){
    width: max-content;
    padding: 0.4em 3em;
    text-align: center;
    color: #24242a;
}
tr th.id {
    width: 0.5em;
    padding: 0.4em 1em;
    /* border: 1px solid purple; */
    color: #24242a;
}

td:not(.id, .aksi) {
    padding-left: 1.5em;
}

td.id, td.aksi {
    text-align: center;
    padding: 0.4em 1em;

}

a.delete{
    text-decoration: none;
    border: 1px solid tomato;
    background: tomato;
    border-radius: 2px;
    padding: 0.1em 0.7em;
    color: #fff;
    font-size: 0.9em;
}

a.delete:hover {
    background: #fff;
    color: tomato;
}

a.edit {
    text-decoration: none;
    border: 1px solid #5fb976;
    background: #5fb976;
    border-radius: 2px;
    padding: 0.1em 1.3em;
    color: #fff;
    font-size: 0.9em;
}

a.edit:hover {
    background: #fff;
    color: #5fb976;
}

.aksi_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

tr th.aksi {
    width: 10.5em;
    padding: 0.4em 2em;
    /* border: 1px solid tomato; */
    color: #24242a;
}

/* .aksi a {

} */
/*===== END TABLE =====*/





