/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100%;
    background: #f8f9fd;
}

/* NGATUR CONTENT */
.container {
    margin: 1.5em 0 5em 15em;
    /* border: 1px solid black; */
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0; 
    height: 100%;
    width: max-content;
    padding: 1.25em 0 0 0;
    background: #fff;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    transition: all 0.4s ease;
    /* border: 1px solid pink; */
}

.vertical_line {
    border-bottom: 1.5px solid #E0E0E0;
    height: 1.6em;
    width: 100%;
    /* margin: 0 0.5em; */
}

/* .logo_wrapper {
    border: 1px solid black;
} */

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    /* border: 1px solid tomato; */
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 12px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: #bf202f;
    transition: 0.2s;
}

.nav-link .icon {
    margin-right: 12px;
    font-size: 1.3em;
    color: #24242a;
}

.nav-link .link {
    font-size: 0.85em;
    color: #24242a;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}



/*========== STYLING MAIN CONTENT ==========*/ 
.header_text {
    color: #24242a;
}

.add_data {
    border: 1px solid tomato;
    background: tomato;
    border-radius: 4px;
    width: max-content;
    padding: 0.3em 1.5em;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0.5em;
}


.space_operator {
    background: #fff;
    width: 80vw;
    height: max-content;
    padding: 2em 3em;
    border: 1px solid #E0E0E0;
    border: 1px solid purple;
    border-radius: 4px;
    margin: 1em 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
}

.operator_wrapper {
    border: 1px solid tomato;
    width: 100%;
    height: 100%;
}


.table_container {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    background: #fff;
    width: 80vw;
    overflow-x: hidden;
    height: max-content;
    border: 1px solid #E0E0E0;
    /* border: 1px solid #bf202f; */
    border-radius: 4px;
    margin: 2em 0;
    padding: 2em 3em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
} 

th,td {
    font-size: 14px;
}

table {
    background: #fff;
    border-radius: 2px;
    border-collapse: collapse;
    border: 1px solid #E0E0E0;
    width: 100%;
}

/*===== ATUR TABLE =====*/
tr th:not(.id, .aksi){
    width: max-content;
    padding: 0.4em 3em;
    text-align: center;
    color: #24242a;
}
tr th.id {
    width: 0.5em;
    padding: 0.4em 1em;
    /* border: 1px solid purple; */
    color: #24242a;
}

td:not(.id, .aksi) {
    padding-left: 1.5em;
}

td.id, td.aksi {
    text-align: center;
    padding: 0.4em 1em;

}

a.delete{
    text-decoration: none;
    border: 1px solid tomato;
    background: tomato;
    border-radius: 2px;
    padding: 0.1em 0.7em;
    color: #fff;
    font-size: 0.9em;
}

a.delete:hover {
    background: #fff;
    color: tomato;
}

a.edit {
    text-decoration: none;
    border: 1px solid #5fb976;
    background: #5fb976;
    border-radius: 2px;
    padding: 0.1em 1.3em;
    color: #fff;
    font-size: 0.9em;
}

a.edit:hover {
    background: #fff;
    color: #5fb976;
}

.aksi_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

tr th.aksi {
    width: 10.5em;
    padding: 0.4em 2em;
    /* border: 1px solid tomato; */
    color: #24242a;
}

/*===== END TABLE =====*/


/*========== ADMIN VERIFY ==========*/ 
.verify_container {
    /* border: 1px solid tomato; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5dc;
}

.verify_wrapper {
    width: max-content;
    height: max-content;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1.5em 2.5em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #f1f1f1;
    /* border: 1px solid #bf202f; */
}

.verify_box:not(.text_verify) {
    /* border: 1px solid #5fb976; */
    width: max-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
}

.title_verify {
    /* border: 1px solid black; */
    width: 100%;
    text-align: center;
}

.title_verify h3 {
    font-weight: 900;
    font-size: 1.2em;
}

.title_verify h5 {
    font-weight: 500;
}

.verify_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 15em;
    /* border: 1px solid red; */
}

.verify_box a {
    text-decoration: none;
    font-size: 0.8em;

}

.verify_box a:hover {
    text-decoration: underline;

}


.verify_button_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.verify_button_wrapper i.bx-log-out {
    font-size: 2em;
    padding: 0.25em 0.5em 0.11em 0.4em;
    background: #fec112;
    border-radius: 4px;
    color: #24242a;
    transition: 0.3s;
}

.verify_button_wrapper i.bx-log-out:hover {
    background: #d7a900;
    transition: 0.3s;
}


/*===== ATUR NOTIF */
.notif {
    background-color: red;
    text-transform: none;
    padding: 2px;
    position: relative;
    font-style: italic;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
}
/*===== END NOTIF  */


.input_bar{
    margin-top: 1px;
    transition: 0.3s;
}
.input_bar, .btn {
    border: none;
    padding: 0.95em;
    font-size: 0.8em;
    width: 100%;
    border-radius: 4px;
    background: #fff;
}

input::placeholder {
    font-size: 0.95em;
}

.input_bar:focus, .input_bar:hover {
    outline: none;
    border-color: #fec112;
    background-color: #fff;
    box-shadow: 0 0 0 1.5px #fec112;
    transition: 0.3s;
}

.btn {
    border: none;
    font-size: 0.9em;
    font-weight: 800;
    background:  #fec112;
    cursor: pointer;
    padding: 0.5em 0;
    letter-spacing: 0.5px;
    color: #24242a;
    transition: 0.4s;
    width: 10em;
    border-radius: 4px;
}


.btn:hover{
    background: #d7a900;
    color: #24242a;
    transition: 0.2s;
} 

/*========== END VERIFY ==========*/ 

/*===== MENGATUR SPAN TEXT  */
span.text_verify {
    color: #5e5e5f;
    display: flex;
    font-size: 0.6em;
    margin: 2% auto;
}

span.text_verify:before, span.text_verify:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #24242a;
    margin: auto;
}

span.text_verify:before {
    margin-right: 0.7rem;
    background: #24242a;
}
span.text_verify:after {
    margin-left: 0.7rem;
    background-color: #24242a;
}
/*===== END SPAN */


