/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100%;
}

/* NGATUR CONTENT */
.container {
    margin: 1em 0 5em 16em;
    /* border: 1px solid black; */
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0; 
    height: 100%;
    width: max-content;
    padding: 1.25em 0 0 0;
    background: #fff;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    transition: all 0.4s ease;
    /* border: 1px solid pink; */
}


.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 16px 0 16px;
    /* border: 1px solid tomato; */
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 12px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: #fec112;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 18px;
    color: #24242a;
}

.nav-link .link {
    font-size: 0.85em;
    color: #24242a;
    font-weight: 400;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #24242a;
}