/* MENGHILANGKAN TOMBOL PUTAT PADA INPUT NUMBER */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    margin: 0; 
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: #ff00000d !important; */
}

html {
    background: beige;
}

#box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* BUAT NGATUR LETAR CONTAINER FILED */
.title {
    text-align: center;
    text-transform: capitalize;
    margin-top: 0.3em;
    
    /* margin: 4% 0.5em 0 0.5em; */
    font-size: 3.25em;
    margin-bottom: 12px;
    color: #fff;
}
h2.page-title {
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 0.73em;
}

.title h3 {
    padding: 0 1.9em;
    margin-top: 2.3em;
    font-size: 0.27em;
    font-weight: 550;
    color: #fff;

}

h3.log_your{
    font-weight: 600;
    color: #24242a;
    text-align: center;
    font-size: 1em;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.wrapper {
    background: url(../image/login_bg.jpg);
    background-size: cover;
    background-position: -9em 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 48em;
    height: 25em;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;

}
/* WRAPPER REGISTER FORM */
.wrapper_reg {
    background: url(../image/regis_bg.jpg);
    background-size: cover;
    background-position: 7em 0;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 48em;
    height: 25em;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
/* END */








/* BUAT ATUR INPUTAN */
.input-kolom {
    /* border: 2px solid black; */
    /* width: 15.5em; */
    width: 100%;
    max-width: 25em;
    
}

.input-con li {
    margin-bottom: 4px; 
}


label {
    font-size: 0.8em;
    font-weight: 550;
}

.input-bar{
    margin-top: 1px;
    transition: 0.3s;
}
.input-bar, .btn {
    border: none;
    padding: 0.95em;
    font-size: 0.8em;
    width: 100%;
    border-radius: 4px;
    background: #fff;
}

input::placeholder {
    font-size: 0.95em;

}
/* BLM */
.input-bar:focus, .input-bar:hover {
    outline: none;
    border-color: #fec112;
    background-color: #fff;
    box-shadow: 0 0 0 1.5px #fec112;
    transition: 0.3s;
}

/* ATUR CHECKBOX */
.checkbox_container {
    display: flex;
    align-items: center;
    margin-bottom: 6%;
    margin-top: 4%;
}

.checkbox {
    width: 16.5px;
    height: 16.5px;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

label.remember {
    font-size: 0.8em;
    font-weight: 550;
    color: #333;
}
/* END CHECKBOX */


.btn {
    border: none;
    font-size: 0.9em;
    font-weight: 800;
    background:  #fec112;
    cursor: pointer;
    padding: 0.84em 0;
    letter-spacing: 0.5px;
    color: #24242a;
    transition: 0.4s;
}

.btn:hover{
    background: #d7a900;
    color: #24242a;
    transition: 0.2s;
} 

.input-con li {
    display: flex;
    flex-wrap: wrap;
}

.input-con li > label {
    flex-basis: 100%;
}

.input-con li > input {
    flex-basis: calc(50% - 5px);
    margin-right: 10px;
}

/* .input-con li:nth-of-type(4),
.input-con li:nth-of-type(5) {
    display: flex;
    flex-wrap: wrap;
}

.input-con li:nth-of-type(4) > label,
.input-con li:nth-of-type(5) > label {
    flex-basis: 100%;
}

.input-con li:nth-of-type(4) > input,
.input-con li:nth-of-type(5) > input {
    flex-basis: calc(50% - 5px);
    margin-right: 10px;
} */




/* ATUR NOTIF YANG MUNCUL */
.notif-login {
    background-color: red;
    text-transform: none;
    padding: 2px;
    position: relative;
    font-style: italic;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
}

/* MENGATUR GARIS OR  */
span.login-text {
    color: #5e5e5f;
    display: flex;
    font-size: 0.6em;
    margin: 2% auto;
}

span.login-text:before, span.login-text:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #24242a;
    margin: auto;
}

span.login-text:before {
    margin-right: 0.7rem;
    background: #24242a;
}
span.login-text:after {
    margin-left: 0.7rem;
    background-color: #24242a;
}
/* END ATUR GARIS */


.cta {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

p.cta-text {
    font-size: 0.8em;
    font-weight: 550;
    width: 15em;
    text-align: center;
}

span.cta-text2 a {
    text-decoration: none;
    font-size: 1em;
}

span.cta-text2 a:hover {
    text-decoration: underline;
}

