/* MENGHILANGKAN TOMBOL PUTAT PADA INPUT NUMBER */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    margin: 0; 
}
/* END MENGHILANGKAN TOMBOL PUTAR */



/*============ SETTINGAN WEBSITE & BACKGROUND ============*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: #ff00000d !important; */
}

html {
    background: beige;
}
/*============ END SETTINGAN WEBSITE ============*/



/*============ MAIN CONTAINER ============*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url(../image/backgroundHome.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); */
}
/*============ END MAIN ============*/



/*============ TEMPAT PEMBUNGKUS UTAMA ============*/
#wrapper {
    background-size: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 49em;
    height: 27em;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    /* filter: brightness(100%); */
}

.login_wrapper{
    background: url(../image/login_bg.jpg);
    background-position: -10em 0;
}

.register_wrapper {
    background: url(../image/register_bg.jpg);
    background-position: 5.7em 0;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
}
/*============ END BACKGROUND ============*/



/*============ NGATUR PAGE CONTENT ============*/
#content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.page_header {
    text-align: center;
    text-transform: capitalize;
    padding: 0.4em 0 0 0.5em;
    /* margin-top: 0.5em; */
    /* margin: 4% 0.5em 0 0.5em; */
    /* font-size: 3.25em; */
    margin-bottom: 12px;
    color: #fff;
}

.page_header_register{
    text-align: center;
    padding: 0.5em 0.5em 0 0;
    text-transform: capitalize;
    /* font-size: 3em; */
    margin-bottom: 12px;
    color: #fff;
}

.page_title {
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 2.75em;
    line-height: 1.35em;
}

.page_title span.rofara{
    font-size: 0.83em;
    font-style: italic;
}

.page_title span.creativity{
    font-weight: bolder;
    font-size: 1em;
}

.page_subtitle {
    text-transform: none;
    padding: 0 3em;
    margin: 1em 0 1.5em 0;
    font-size: 0.9em;
    font-weight: 500;
    color: #fff;
}

.page_subtitle_register{
    text-transform: none;
    padding: 0 2.5em;
    margin: 1em 0 1.5em 0;
    font-size: 0.9em;
    font-weight: 500;
    color: #fff;
}

a.guest_text {
    text-decoration: none;
    text-transform: none;
    font-size: 0.7em;
    font-weight: 800;
    background:  #fec112;
    cursor: pointer;
    padding: 0.65em 1.5em;
    letter-spacing: 0.5px;
    color: #24242a;
    transition: 0.4s;
    width: 100%;
    border-radius: 4px;
}

a.guest_text:hover{
    background: #d7a900;
    color: #24242a;
    transition: 0.2s;
} 
/*============ END PAGE CONTENT ============*/



/*============ NGATUR FORM CONTENT ============*/

.form_container{
    width: 15.5em;
}
.form_container_register{
    width: 15.5em;
    /* border: 1px solid tomato; */
}
.auth_title{
    font-weight: 600;
    color: #24242a;
    text-align: center;
    font-size: 1em;
}

/*===== MENGATUR SPAN TEXT  */
span.text_span {
    color: #5e5e5f;
    display: flex;
    font-size: 0.6em;
    margin: 2% auto;
}

span.text_span:before, span.text_span:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #24242a;
    margin: auto;
}

span.text_span:before {
    margin-right: 0.7rem;
    background: #24242a;
}
span.text_span:after {
    margin-left: 0.7rem;
    background-color: #24242a;
}
/*===== END SPAN */


/*===== ATUR NOTIF */
.notif {
    background-color: red;
    text-transform: none;
    padding: 2px;
    position: relative;
    font-style: italic;
    text-align: center;
    font-size: 0.7em;
    color: #fff;
}
/*===== END NOTIF  */


/*===== BUAT ATUR INPUTAN */
ul{
    list-style-type: none;
}
.input_container li {
    margin-bottom: 4px; 
}

.input_container_register li{
    margin-bottom: auto;
}

label {
    /* display: block; */
    font-size: 0.8em;
    font-weight: 550;
    /* margin: 5px 0; */
}

.input_bar{
    margin-top: 1px;
    transition: 0.3s;
}
.input_bar, .btn {
    border: none;
    padding: 0.95em;
    font-size: 0.8em;
    width: 100%;
    border-radius: 4px;
    background: #fff;
}

input::placeholder {
    font-size: 0.95em;
}

.input_bar:focus, .input_bar:hover {
    outline: none;
    border-color: #fec112;
    background-color: #fff;
    box-shadow: 0 0 0 1.5px #fec112;
    transition: 0.3s;
}


.form_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.form_group {
    flex-basis: 50%;
}

/*===== END ATUR INPUTAN */


/*===== ATUR CHECKBOX */
.checkbox_container {
    display: flex;
    align-items: center;
    margin-bottom: 6%;
    margin-top: 4%;
}

.checkbox {
    width: 16.5px;
    height: 16.5px;
    border: 1px solid rgb(233, 231, 231);
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

label.remember {
    font-size: 0.8em;
    font-weight: 550;
    color: #333;
}
/*===== END CHECKBOX */


/*===== ATUR BUTTON */
.btn, .btn_register {
    border: none;
    font-size: 0.9em;
    font-weight: 800;
    background:  #fec112;
    cursor: pointer;
    padding: 0.84em 0;
    letter-spacing: 0.5px;
    color: #24242a;
    transition: 0.4s;
    width: 100%;
    border-radius: 4px;
}

.btn_register{
    margin-top: 1em;
}


.btn:hover{
    background: #d7a900;
    color: #24242a;
    transition: 0.2s;
} 
/*===== END ATUR BUTTON */


/*===== ATUR CALL ACTION */
.cta {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

p.cta_text {
    font-size: 0.8em;
    font-weight: 550;
    width: 15em;
    text-align: center;
}

span.cta_text2 a {
    text-decoration: none;
    font-size: 1em;
}

span.cta_text2 a:hover {
    text-decoration: underline;
}
/*==== END CTA  */

/*============  END FORM CONTENT============*/
