*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #ff00000d !important;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.box {
    width: 40%;
    height: 100%;
}

.main_title {
    display: flex;
    justify-content: center;
}