*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav ul{
    height: 4em;
    background-color: beige;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}