*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*============ NAVIGATION BAR ============*/
.nav_container {
    padding: 0 0em;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 999;
    /* border: 1px solid #bf202f; */
}

.nav_wrapper {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 90%;
    height: 4em;
    background: #fff;
    gap: 1em;
    /* border: 1px solid red; */
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 50%;
    /* border: 1px solid tomato; */
    gap: 3em;
    font-size: 0.95em;
}

.nav_menu li{
    display: inline-block;
}
.nav_menu li a {
    text-decoration: none;
    color: #000;
    font-size: 0.98em;
    position: relative;
}

.nav_menu li a:after {
    content: "";
    position: absolute;
    background-color:  #bf202f;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav_menu li a:hover {
    color:  #bf202f;
}

.nav_menu li a:hover:after {
    color:  #bf202f;
    width: 100%;
}

.logo_wrapper {
    display: flex;
}

.auth:not(.after_auth){
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

a {
    text-decoration: none;
}

.auth a.auth_login, .auth a.auth_register {
    text-decoration: none;
    color: #000;
    font-weight: 550;
    font-size: 0.9em;
    width: 9em;
    height: 2.6em;
    background: #fec112;
    border-radius: 3.5px;
    padding: 0 1.2em 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    pointer-events: auto;
}

.auth a.auth_register:hover{
    background: #d7a900;
    transition: 0.3s;
}

.auth a.auth_login {
    background: #fff;
    border: 1.5px solid #fec112;
}

.auth a.auth_login:hover {
    background: #fec112;
    transition: 0.3s;
}

.fa-sign-in-alt, 
.fa-user {
    margin-right: 6px;
}

.after_auth {
    /* border: 1px solid blue;  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}



/*==== NAVIGATION ICON ====*/
.nav_icon {
    display: flex;
    align-items: center;
    gap: 1em;
}

i.bx-cart,
i.bx-envelope,
i.bx-bell,
i.bx-data {
    font-size: 1.5em;
    color: #24242a;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 2.5px 4px;
}

.nav_container i:hover{
    background: #F3F4F5;
    padding: 2.5px 4px;
    border-radius: 5px;
    /* border: 1px solid tomato; */

}


/*======== MENGATUR PROFIL ========*/
.vertical_line {
    border-right: 1.5px solid #E0E0E0;
    height: 1.6em;
    margin: 0 0.5em;
}

.profile {
    position: relative;
    display: inline-block;
}

.profile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 8px;
}

.arrow-down {
    width: 8px;
    height: 8px;
    border: solid #555;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: transform 0.3s;
}

/* penting nih */
.dropdown-content {
    position: absolute;
    top: 3.3em;
    right: 0;
    min-width: max-content;
    font-size: 0.85em;
    background-color: #fff;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    display: none;
    z-index: 1;
}

/* penting juga */
.dropdown-content a, .dropdown-content p {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #24242a;
    transition: background-color 0.3s;
}

.sign_info {
    height: 4.5em;
    line-height: 0.6em;
    padding: 8px 0;
    border-bottom: 1px solid #E0E0E0;
}
.dropdown-content p {
    font-size: 1em;
}

p.fullname {
    font-size: 1.1em;
    font-weight: 550;
    color: #000;
}

.dropdown-content a:hover {
    background-color: #f6f8fa;
}

.profile.active .arrow-down {
    transform: rotate(-135deg);
}

/* penting nih buat munculin dropdown */
.profile.active .dropdown-content {
    display: block;
}



/* content */

content .content_container {
    background: purple;
    width: 100%;
    min-height: 90vh;
    margin-top: 20em;
    padding: 2em 2em 2em 2em;
    border-radius: 5px;
}


/* DASHBAORD */
.dash_container {
    position: relative;
    display: inline-block;
}

.dash-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

.dash-content {
    position: absolute;
    top: 3.3em;
    right: 0;
    min-width: max-content;
    font-size: 0.85em;
    background-color: #fff;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    display: none;
    z-index: 1;
}

.dash-content input, .dash-content p {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #24242a;
    transition: background-color 0.3s;
}



.dash_container.active .dash-content {
    display: block;
}


/* CONTENT */
.content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* border: 1px solid tomato; */
    top: 4em;
    left: 0;
    right: 0;
    height: 100vh;
}

.content_header {
    position: absolute;
    top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    width: 90%;
}


.product_display {
    position: absolute;
    top: 4em;
    /* border: 1px solid black; */
    display: flex;
    gap: 2.5em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    /* padding: 0 1.8em; */

    /* height: 100vh; */
}



.main_content {
    /* border: 1px solid green; */
}

.text_biasalah {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_wrapper {
    background: #fff;
    box-shadow: 0 2px 8px rgba(27, 31, 35, 0.1);
    border-radius: 7px;
    display: flex;

    align-items: center;
    justify-content: center;
    width: 11em;
    height: 17em;
}

.card_box:not(.product_wrapper) {
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.image_display {
    /* border: 1px solid red; */
    /* border-radius: 7px; */
}

.image_display img{
    border-radius: 7px;
}

.info_product {
    /* border: 1px solid black; */

}

.info_product p {
    font-size: 0.8em;
}

.product_wrapper {
    display: flex;
}

.main_image {
    position: absolute;
    top: 4em;
    padding: 5em 40%;
    border: 1px solid blue;

}