*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*============ NAVIGATION BAR ============*/
.nav_container {
    padding: 0 0em;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 999;
    /* border: 1px solid #bf202f; */
}

.nav_wrapper {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 85%;
    height: 4em;
    background: #fff;
    
    gap: 1em;
    /* border: 1px solid red; */
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 50%;
    /* border: 1px solid tomato; */
    gap: 3em;
    font-size: 0.95em;
}

.nav_menu li{
    display: inline-block;
}
.nav_menu li a {
    text-decoration: none;
    color: #000;
    font-size: 0.98em;
    position: relative;
}

.nav_menu li a:after {
    content: "";
    position: absolute;
    background-color:  #bf202f;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav_menu li a:hover {
    color:  #bf202f;
}

.nav_menu li a:hover:after {
    color:  #bf202f;
    width: 100%;
}



.logo_menu {
    border: 1px solid purple;
    padding-top: 5px;

}


.auth{
    display: flex;
    align-items: center;
    gap: 1em;
    /* border: 1px solid blue; */
}

button a{
    text-decoration: none;
    color: #24242a;
    font-size: 1em;
}

button {
    width: 9em;
    height: 2.6em;
    background: #fec112;
    border: none;
    border-radius: 3.5px;
    padding: 0 1.2em 0 1em;
    transition: 0.3s;
}


button:hover{
    background: #d7a900;
    transition: 0.3s;
}

button.login {
    background: #fff;
    border: 1.5px solid #fec112;
}

button.login:hover{
    background: #fec112;
    transition: 0.3s;
}


button a {
    color: #000;
    font-weight: 550;
}

button a .fa-sign-in-alt, 
button a .fa-user {
    margin-right: 6px;
}


.btn_profil {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.btn_profil img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

i.bx-data {
    width: 50px;
    height: 50px;
    border: 1px solid tomato;
}
